@font-face {
    font-family: font1;
    src: url(./../Fonts/3X5_____.TTF);
}
@font-face {
    font-family: font1_2;
    src: url(./../Fonts/chintzy.ttf);
}
@font-face {
    font-family: font1_3;
    src: url(./../Fonts/chintzys.ttf);
}
@font-face {
    font-family: font1_4;
    src: url(./../Fonts/computer_7.ttf);
}
@font-face {
    font-family: font2;
    src: url(./../Fonts/print_dashed_tt.ttf);
}
@font-face {
    font-family: font2_2;
    src: url(./../Fonts/print_clearly_tt.ttf);
}
@font-face {
    font-family: font2_3;
    src: url(./../Fonts/print_bold_tt.ttf);
}
@font-face {
    font-family: font3;
    src: url(./../Fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: font4;
    src: url(./../Fonts/data-latin.ttf);
}
@font-face {
    font-family: font5;
    src: url(./../Fonts/GetboregSlab-Italic.ttf);
}
@font-face {
    font-family: font7;
    src: url(./../Fonts/GetboregSlab-Italic.ttf);
}
@font-face {
    font-family: font6;
    src: url(./../Fonts/MightySouly-lxggD.ttf);
}
@font-face {
    font-family: font7;
    src: url(./../Fonts/mineglyph-faithful.ttf);
}
@font-face {
    font-family: font8;
    src: url(./../Fonts/Open\ 24\ Display\ St.ttf);
}
